@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todo-wrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.todo-form {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-right: 5px;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  margin-left: 5px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.todo p {
  margin-bottom: 0;
}

.todo-task {
  font-size: 20px;
}

.todo-date {
  font-size: 12px;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.error-text {
  color: red;
}

.completed-todos {
  color: #fff;
}

.accordion-item,
.accordion-body {
  background-color: transparent !important;
  border: none !important;
  color: #fff !important;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  color: #fff !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.accordion-button::after {
  filter: invert(1);
}

.deadline-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 220px;
  color: #fff;
  font-size: 0.9rem;
  appearance: none;
}

.deadline-input::placeholder {
  color: #ffffff4d;
}

.deadline-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
  opacity: 0.8;
}

.deadline-input:focus {
  border-color: #fff;
}
.deadline-input:hover {
  border-color: #a882ff;
}

.over-due {
  color: red;
}
